export(CircularStatisticsDescriptivesInternal)
export(CircularStatisticsOneSampleTestsInternal)
export(CircularStatisticsMultipleSampleTestsInternal)
export(CircularStatisticsDescriptives)
export(CircularStatisticsOneSampleTests)
export(CircularStatisticsMultipleSampleTests)
  import('circular');
  import('ggplot2');
